.sideHero {
    h4{
        font-size: 25px;
        color: #122231;
        font-weight: 700;
    }

    .small-p {
        color: #3D4F60;
        max-width: 750px;
        margin-bottom: 20px;
        max-width: 60%;

    }

    .arrow {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            color: #122231;
            font-weight: 600;
            margin-top: 25px;
        }
    }
}