.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(61, 79, 96);
    position: fixed;
    max-width: 100%;
    margin:  0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;

    
}